<!doctype html>
<html lang="pt-br">

<head>
	<title>{block title}{/block}</title>
	<link rel="stylesheet" href="assets/styles.css">
	<script src="assets/bundle.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	{block content}{/block}

</body>

</html>